.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.brandLogo {
  margin-bottom: 4.9rem;
}
.authContainer {
  border-image: linear-gradient(#969696, #343434) 30;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 0.8rem;
  max-width: 46.7rem;
}
